body {
	text-align: center;
	box-sizing: border-box;
}
h1 {
	font-family: cursive;
	color: #520404;
}
.textArea {
	width: 40%;
	margin: 4%;
	border: 0.7 solid #821919;
}
.boton {
	padding: 1%2%;
	font-family: cursive;
	background-color: #36AC70;
	border: transparent;
	border-radius: 50px;
}
.boton:hover {
	background-color: #387450;
}
.contenedor {
	width: 70%;
	background-color: #E0F3ED;
	margin: 4% 15%;
	padding: 1%;
}
.verde {
	color: green;
}
.rojo {
	color: red;
}
/*
.comentarios {
	font-family: cursive;
	background-color: #8EDCF2;
	padding: 20px;
	font-weight: bold;
	margin: 10px;
}
*/


